/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */
.current-temp {
  font-size: 50px;
  font-weight: bold;
}


.current-temp-date {
  font-weight: bold;
  font-size: 8px;
}

.current-temp-date span {
  font-weight: normal;
}


/* -----------------------------------------
   Page Name 2
----------------------------------------- */


